---
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "CarbonIQ",
    desc: [
      "Led an Agile team in the development of an Android app that tracks vehicle emissions",
      "Designed a high-fidelity, fitness app-inspired UI/UX prototype using Figma",
      "Devised systems architecture decisions that streamlined development workflows"
    ],
    tech: ["React Native", "Expo", "TypeScript", "Figma", "InstantDB", "PythonAnywhere", "XGBoost"],
    link: "https://github.com/toranbehera/CarbonIQ"
  },
  {
    title: "Medical Messenger",
    desc: [
      "Built a real-time messaging web app for healthcare communication",
      "Enabled real-time communication using Socket.io and Node.js/Fastify",
      "Built a CI/CD pipeline to automate development workflow",
      "Managed pull requests, merge conflicts, and commit history rewrites in a Gitflow team environment"
    ],
    tech: ["Next", "Shadcn", "Fastify", "Socket.io", "GitHub Actions", "Git", "GitHub", "Azure"],
    link: "https://github.com/toranbehera/Medical-Messenger"
  },
  {
    title: "Not a Todo List",
    desc: [
      "Built a reusable React and Redux frontend template to reduce setup time for new projects",
      "Also used to experiment with new tools and techniques that I come across from time to time"
    ],
    tech: ["MongoDB", "Express", "React", "Node.js", "Tailwind", "JWT", "Redux"],
    link: "https://github.com/toranbehera/not-a-todo-list"
  },
  {
    title: "Resting Koala Reservation",
    desc: [
      "Designed and implemented a table reservation feature using .NET (C#)",
      "Translated UML and sequence diagrams into clean and maintainable backend code",
      "Applied software design principles to model reservation flows, data validation, and edge cases"
    ],
    tech: ["C#", ".NET"],
    link: "https://github.com/toranbehera/RestingKoalaReservation"
  },
];
---

<!DOCTYPE html>
<html
>
  <Header title="Personal Projects | Toran Kumar Behera" />
  <body>
    <div class="content">
        <Sidebar selectedItem="personal-projects" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img src="/assets/back.svg" loading="lazy" alt="" class="back-nav-img" />
              <div>Back</div></a
            >
          </div>
          <div class="content-container">
            <h1>Personal Projects</h1>
            <section class="items-container">
                <div class="resouce-items">
                    {projects.map(project => (
                      <Project 
                        title={project.title} 
                        desc={project.desc}
                        tech={project.tech}
                        link={project.link}
                      />
                    ))}
                  </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
